html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/images/bg_full.jpg) center center no-repeat;
    background-size: cover;
    margin:0;
}

#my-game {
    margin:0;
    position: relative;
    width: 800px;
    height: 600px;
    z-index: 0;
    background: url(./images/bg.png) center no-repeat;
    background-size: cover;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: inset 0 0 20px #000000; ;
    box-sizing: border-box;
}

.handing {
    width: 200px;
    height: 100px;
    background: ;
    position: absolute;
    right: 30px;
    top: 30px;
}

.sled {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 0;
    background:url(/images/sled.png) right bottom no-repeat;
    background-size: 350px;
    animation: float 2s ease-in-out infinite;
  }


  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

.city {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index:-1;
    background: url(/images/city.png) center top no-repeat;
    background-size: cover;
    filter: opacity(0.6);
}